@charset "UTF-8";
@font-face {
    font-family: "ubuntu-regular";
    src: url(../fonts/ubuntu-regular.ttf);
}


/* TAGS NATIVAS */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, a, form, label, input[type='text'], input[type='email'], input[type='number'], textarea, body {
    font-family: "ubuntu-regular", sans-serif;
}

form label{
    font-weight: normal!important;
}
/* CLASSES GLOBAIS*/
.select2-container .select2-selection--single{
    height: 34px!important;
    padding: 2px!important;
}
.title-destaque{
    color: #2E3092;
    font-weight: bolder;
    display: block;
}
.clear{
    clear: both;
}
.font-bold{font-weight: bold;}
.img-center {
    display: block;
    margin: auto;
}
.img-right{
    display: block;
    float: right;
}
.oculta{display: none};
.bg-success {
    background-color: rgb(50, 179, 51);
    color: white;
}
.jumbotron{background-color: #337AB7; color: white; padding-top:10px; padding-bottom: 10px;}
.jumbotron>ul>li{font-size: 17px;}

.table-acao{
    width: 130px
}
.table-qtd{
    width: 30px;
}

/*TELA LOGIN*/

#tela_login {
    background-color: #222d32;
    border-radius: 5px;
    margin-top: 10%;
    padding: 10px 30px;
    color: white;
}

#tela_login h4 {
    background-color: #357ca5 ;
    color: white;
    padding: 10px;
    margin: 10px -30px;
    margin-top: 0;
}
#tela_login form label{
    font-weight: normal;
}
#tela_login form .input-group>.input-group-addon, #tela_recupera_senha .input-group>.input-group-addon{
    background-color: #357ca5;
    border-color: #357ca5 ;
    color: white;
}
#tela_login form .input-group>.form-control, #tela_recupera_senha form .input-group>.form-control{
    border-color: #357ca5;
}
#tela_login input[type='submit'] {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px
}

#tela_login p.bg-danger {
    background-color: rgb(240, 95, 76);
    color: white;
    padding: 10px;
}

#tela_login a {
    color: rgb(199, 199, 199);
    float: right;
    cursor: pointer;
}

#tela_login a:hover, #tela_login a:focus {
    text-decoration: none;
    color: white;
    display: inline-block;
}

#tela_recupera_senha {
    background-color: #F5F5F5;
    border: 1px solid rgb(199, 195, 200);
    border-radius: 5px;
    padding: 20px;
}


@media (max-width: 990px) {
    /*TELA LOGIN*/
    #tela_login {
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 0;
    }
    #tela_login img {
        max-width: 400px
    }
}

@media(max-width:640px){
    #tela_login img {
        max-width: 300px;
        min-width: 250px;
    }   
}
/*CONTAINER DO SISTEMA*/
#tela_sistema {
    padding-left: 0;
    display: none;
}

#conteudo_sistema {
    width: 100%;
    padding: 0;
    background-color: #fff;
    margin-top: 200px;
}

@media(min-width:768px) {
    #tela_sistema {
        padding-left: 225px;
    }
    #conteudo_sistema {
        padding: 10px;
        margin-top: 64px;
    }
}

/*MENU PRINCIPAL - NAV*/
.navbar-inverse{
    background-color: #357ca5;
    border-color: #002593;
    color: white;
}
.navbar-inverse>.navbar-header>.navbar-brand{padding: 10px 15px;}
.navbar-inverse .navbar-nav > li > a{color: white}
/* Top Navigation */

.top-nav {
    padding: 0 15px;
}


.top-nav>li {
    display: inline-block;
    float: left;
}
.top-nav>li>form>div>label{margin-right: 5px; font-weight: normal;}
.top-nav>li>form>.input-group>.form-control{border-color: #111111;}
.top-nav>li>form>.input-group>.input-group-addon{background: #222d32;border-color: #111111; color: white; cursor: pointer;}
.top-nav>li>a{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #fff;
    background-color: #222d32;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
@media (max-width: 768px){
    .top-nav>li {
        display: block;
        float: none;
    }
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222d32;
        border-color: #002593;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav>ul>li>a {
        width: 225px;
    }
    .side-nav li a:hover, .side-nav li a:focus {
        outline: none;
        background-color: #FFFFFF !important;
        color: #002593 !important;
    }
}
@media (max-width: 768px){
    .side-nav>figure{
        display: none;
    }
}
.side-nav>figure{
    margin-top: 20px;
    margin-bottom: 20px;
}
.side-nav>figure>img{
    border: 8px solid #fff;
}
.side-nav>figure>figcaption{padding-top:10px;}
.side-nav>figure>figcaption>p{line-height: 10px;text-transform: uppercase;}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
    outline: none;
    background-color: #FFFFFF !important;
    color: #002593 !important;
}
.side-nav>ul>li>ul {
    padding: 0;
}

.side-nav>ul>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #ffffff;
}

.side-nav>ul>li>ul>li>a:hover {
    color: #fff;
}
/*Breadcrumbs */
#pagina-header>h2{
    border-bottom: 1px solid #cecece;
}
/* panel*/
.panel>.panel-body>a{display: block;}
.panel>.panel-body>a:focus,.panel>.panel-body>a:hover{text-decoration: none;}
.panel>.panel-body>a>span{float: right; background-color: #337AB7; color: white; padding: 3px 10px; border-radius: 50%}
.panel-info{border-color: #00c0ef !important;}
.panel-info > .panel-heading{background-color: #00c0ef; border-color: #00c0ef; color: white}
.panel-info > .panel-body > a {color: #00c0ef}
.panel-info > .panel-body > a:hover,.panel-info > .panel-body > a:focus {color: #29a0bd}
.panel-info > .panel-body > a > span{background-color: #00c0ef}
.panel-success{border-color: #00a65a !important;}
.panel-success > .panel-heading{background-color: #00a65a; border-color: #00a65a; color: white}
.panel-success > .panel-body > a:hover,.panel-success > .panel-body > a:focus {color: #0a8c50}
.panel-success > .panel-body > a {color: #00a65a}
.panel-success > .panel-body > a > span{background-color: #00a65a}

.panel-danger{border-color: #dd4b39 !important}
.panel-danger > .panel-heading{background-color: #dd4b39; border-color: #dd4b39; color: white}
.panel-danger > .panel-body > a:hover,.panel-success > .panel-body > a:focus {color: #b93a2b}
.panel-danger > .panel-body > a {color: #dd4b39}
.panel-danger > .panel-body > a > span{background-color: #dd4b39}
.panel-warning{}
/* CADASTRAR */
#viewMapa{
    width: 100%;
    height: 280px;
}
/*UNIDADE*/
#view-mapa-unidade{
    width: 100%;
    height: 230px;  
}
/*CONTAINER-USUARIO*/
#container-usuario-form input[type='file'] {
    display: none;
}
#container-usuario-form form img {
    width: 150px;
    height: 150px;
    border: 5px solid #337ab7;
    border-radius: 50%;
    margin-bottom: 5px;
}
.thumbnail {
    background-color: #337ab7;
    padding: 0px;
    padding-top: 10px;
}
.thumbnail>p{
    margin: 5px;
    color: white;
}
.thumbnail>.caption{
    background-color: white;
    border-top: 10px solid #2D37A3;
}
/*RODAPE*/
#rodape{
    clear: both;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #cecece;
}
#rodape>p{margin-bottom: 0; font-size: 12px;}
